.program-container .program-input {
  display: inline-block;
  white-space: pre-wrap;
  font-family: monospace;
  height: 100%;
  overflow-y: scroll;
}

.program-container .draw-button {
  width: 4em;
  float: right;
}

.links {
  margin-top: 1em;
}

pre {
  white-space: pre-wrap;
}

td {
  margin: 0 20em;
}

.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-leave-to {
  transform: translateX(-10em);
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(-10em);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.fade-leave-to, .fade-enter {
  opacity: 0;
}

.can-rotate {
  transform: rotate(0deg);
  transition: transform 0.3s linear;
}

.can-rotate.rotated {
  transform: rotate(90deg);
  transition: transform 0.3s linear;
}

a {
  color: #ed3833;
}

.hero.is-primary, .button.is-primary {
  background-color: #ed3833;
}

pre code {
  color: #ff3860;
}
